apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-hhiuxoxe
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-hhiuxoxe:28d56e792b46aa16d1d3fdabf9fb4cc63d1754d6@sha256:e3009a4f6b9099ff194d509f46e1fcf281843efbc7c96200bed0b3b540b3cc75
        name: container-image  
